extend layouts/default

block content
	.row
		.large-12.columns
			h2 Internal server error (500)
			p Sorry, but somebody has broken the site. Please forward the message below to a member of our support team:
			pre #{error}